<ion-toolbar color="secondary">


  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <ion-title>Colour Vision</ion-title>
</ion-toolbar>


<ion-content>
  <!-- Textarea with custom number of rows and cols -->
<ion-item>
  <ion-label><b>Equipment, set-up and the procedure </b></ion-label> 
</ion-item>

<ion-text color="dark">
  <section>    
    <ul class="my-nav">
      <li>Test is held at 40 cmm</li>
      <li>Type in the number you seen and click</li>
      <li>Tap if you can't see the numbers and you want to continue to next table</li>
      <li>Tap if you entered wrong number and you want to correct your answer</li>
    </ul>
  </section>
</ion-text>
</ion-content>
<ion-button color="medium" (click)="swipeNext()">Next</ion-button>
