<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <ion-grid>
   <ion-row>
     <ion-col> 
      <ion-card>
        <img src="assets/img/1_tile.jpg"/>
      </ion-card>
      
     </ion-col>

     <ion-col> 
      <ion-card>
        <img src="assets/img/2_tile.jpg"/>
        
      </ion-card>
      
     </ion-col>
   </ion-row>

   <ion-row>
    <ion-col> 
     <ion-card>
       <img src="assets/img/3_tile.jpg"/>
     </ion-card>
     
    </ion-col>

    <ion-col> 
     <ion-card>
       <img src="assets/img/4_tile.jpg"/>
       
     </ion-card>
     
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col> 
     <ion-card>
       <img src="https://www.pinclipart.com/picdir/middle/101-1017246_file-circle-icons-eye-svg-wikimedia-commons-eye.png"/>
     </ion-card>
     
    </ion-col>

    <ion-col > 
     <ion-card>
       <img src="https://www.pinclipart.com/picdir/middle/101-1017246_file-circle-icons-eye-svg-wikimedia-commons-eye.png"/>
       
     </ion-card>
     
    </ion-col>
  </ion-row>


 </ion-grid>
 


</ion-content>
